/* Place CSS styles here */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }
  
  body {
    background-color: lightgray;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  /* HEADER */
  .sidebar-header-wrapper,
  .sidebar-main-content-wrapper,
  .sidebar-footer-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sidebar-logo {
    width: 130px;
  }
  
  .sidebar-main-nav {
    display: flex;
    gap: 16px;
  }
  
  .sidebar-main-nav a {
    text-decoration: none;
    color: #e20df0;
    transition: all ease .25s;
  }
  
  .sidebar-main-nav a:hover {
    color: black;
  }
  
  .sidebar-intro {
      background:
        linear-gradient(
          rgba(223, 255, 0, 0.75),
          rgba(223, 255, 0, 0.75)
        ),
        url(../img/bubbles.jpeg);
      padding-top: 150px;
      padding-bottom: 150px;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
    }
  
  
  .sidebar-social-link:hover {
    border: 1px solid black;
  }
  
  .sidebar-social-links {
    display: flex;
    gap: 16px;
  }
  
  .sidebar-social-link-image {
    width: 32px;
  }
  
  .sidebar-team-list {
    padding-left: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 4px;
  }
  
  @media (max-width: 999px) {
    .sidebar-team-list {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
  }
  
  .sidebar-team-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: grayscale(.5);
    text-decoration: none;
  }
  
  .sidebar-team-list a:hover {
    filter: grayscale(0);
  }
  
  .sidebar-team-list p {
    font-size: 20px;
  }
  
  .sidebar-contact-form {
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    background: white;
    margin-bottom: 32px;
  }
  
  .sidebar-footer-wrapper {
    padding-top: 32px;
    border-top: 1px solid black;
  }
  
  .sidebar-footer {
    display: flex;
    justify-content: space-between;
  }
  