/* Place CSS styles here */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }
  
  body {
    background-color: black;
  }
  


  img {
    width: 256px;
    height: auto;
  }
  
  body {
    color: white;
    font-family: 'Raleway', cursive;
    background: 
  }



  /* HEADER */
  .sidebar-demo-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;
}
.sidebar-demo-sidenav {
  background-color: #111;
}
.sidebar-demo-sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}





.headshot-intro {
  background: url(../img/nicebackground.jpeg);
  padding-top: 379px;
  padding-bottom: 311px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

  .headshot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .headshot-logo {
    width: 130px;
  }
  
  .headshot-main-nav {
    display: flex;
    gap: 16px;
  }
  
  .headshot-main-nav a {
    text-decoration: none;
    color: #e20df0;
    transition: all ease .25s;
  }
  
  .headshot-main-nav a:hover {
    color: black;
  }
  
  .headshot-intro {
      background:
        url(../img/nicebackground.jpeg);
      padding-top: 379px;
      padding-bottom: 311px;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
    }

    
  
  
  .headshot-social-link:hover {
    border: 1px solid black;
  }
  
  .-social-links {
    display: flex;
    gap: 16px;
  }
  
  .headshot-social-link-image {
    width: 32px;
  }

  
  .headshot-team-list {
    padding-left: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 4px;
  }
  
  @media (max-width: 999px) {
    .headshot-team-list {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
  }
  
  .headshot-team-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: grayscale(.5);
    text-decoration: none;
  }
  
  .headshot-team-list a:hover {
    filter: grayscale(0);
  }
  
  .headshot-team-list p {
    font-size: 20px;
  }
  
  .headshot-contact-form {
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    background: white;
    margin-bottom: 32px;
  }
  
  .headshot-footer-wrapper {
    padding-top: -108px;
    border-top: 34px solid transparent;
  }
  
  .headshot-footer {
    display: flex;
    justify-content: space-between;
  }

  .about-intro {
    background:
        url(../img/nicebackground.jpeg);
      padding-top: 1px;
      padding-bottom: -138px;
      background-position: center;
      background-size: cover;
  }
  
  .team-intro {
    background:
        url(../img/nicebackground.jpeg);
      padding-top: 1px;
      padding-bottom: 311px;
      background-position: center;
      background-size: cover;
  }
  .contact-intro {
    background:
    url(../img/nicebackground.jpeg);
  padding-top: 2px;
  padding-bottom: 480px;
  background-position: center;
  background-size: cover;
  }
  .student-1-intro {
    background:
    url(../img/nicebackground.jpeg);
  padding-top: 2px;
  padding-bottom: 480px;
  background-position: center;
  background-size: cover;
  }
  .hippocampus-contact-form {
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;
    background: black;
  }
  
 